/* About/History */

img#aboutpic {
    width: 60%; height: auto;
}

div.container > p {
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (max-width: 768px) {
    div.container > p {
        margin-left: 10%;
        margin-right: 10%;
    }

    img#aboutpic { 
        width: 90%
    }
}