/* Shop */

.navfilter {
    display: inline-block;
    margin: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background: white;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.navfilter:hover {
    transform: translateY(-5px);
    background-color: #f9f4e4;
    color: #000000;
    text-decoration: none;
}

.navfilter a:link, .navfilter a:visited {
    color: #000000;
}

.navfilter img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

.product {
    display: inline-block;
    margin: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}

#shopnav.bar-links {
    display: flex;
    justify-content: center;
    gap: 1%;
    background-color: #f9f4e4;
    padding: 10px 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #ddd;
}

#shopnav.bar-links a {
    text-decoration: none;
    color: #333;
    padding: 8px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#shopnav.bar-links a:hover {
    background-color: #b5a165;
    color: white;
}

@media screen and (max-width: 768px) {
    #shopnav.bar-links {
        gap: 0;
        padding: 10px 0;
        font-size: 13px;
    }

    #shopnav.bar-links a {
        padding: 8px 10px;
        border-radius: 8px;
    }
}